.gmnoprint a, .gmnoprint span {
  display:none;
}
/* .gmnoprint div {
  background:none !important;
}
#GMapsID div div a div img{
  display:none;
} */

.map-container{
  width: 85%;
  display: inline-block;
}