@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.nav-bar {
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Bitter";
  background-color: white;
  height: 30%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}


.navbar {
  margin-bottom: 0;
  z-index: 999;
  width: 100%;
  height: 40%;
  position: relative;
  position: sticky;

  .navbar-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-brand{
    position: absolute;
    font-size: 2em;
    left: 1vw;
    font-family: 'Bitter', serif;
  }

  .Login {
    padding: 4px 0;
  }

  .mapswitch {
    position: relative;
    left: 18rem;
    top: 1.4rem;
  }
  .nar-bar-search {
    position: absolute;
    left: 24rem;
    top: 1.1rem;
  }
}
.login {
  position: absolute;
  right: 2vh;
  top: 2vh;
}
