@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.navbar {
  margin-bottom: 0;
  z-index: 999;
  width: 100%;
  position: relative;
  .navbar-default {
    background-color: transparent;
  }
  .navbar-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-brand{
    position: absolute;
    font-size: 2em;
    left: 1vw;
    font-family: 'Bitter', serif;
  }

  .Login {
    padding: 4px 0;
  }
}
.login {
  position: absolute;
  right: 2vh;
  top: 2vh;
}
